<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="ejemplo@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" placeholder="Repite la contraseña"></ion-input>
    </ion-item>



    <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
  </form>
  <ion-button expand="block" routerLink="/login">
    ¿Ya tienes una cuenta?
  </ion-button>

</ion-content>
